/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

/* Global Header */
.global-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

/* Header Quote */
.header-quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

#pet-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

.pet-container {
  padding: 5px;
  max-width: 25%;
  height: 200px;
  overflow: hidden;
}

.pet-container__image {
  width: 100%;
  height: auto;
}

/* Global Footer */
.global-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}
